.icon img {
	width: 72px;
}

.icon {
	height: 300px;
}

.col-md-12.text-center {
	margin-top: 55px;
}

body {
	background-color: cornsilk;
}

span.date {
	border: solid 1px;
	background-color: blanchedalmond;
	color: #E000A4;
	font-size: 12px;
	margin-left: -10px;
}

.category {
	text-transform: uppercase;
	font-size: 11px;
	margin-left: 77px;
	margin-top: -17px;
	color: black
}

.category a {
	color: brown;
	margin-left: -9px;
}

.col-md-2 {
	border: solid 1px #acb6bf;
	background-color: aliceblue;
}

p.quick-content {
	font-size: 11px;
	margin-left: -9px;
}

.col-md-3 {
	width: 230px;
	border: solid 1px #acb6bf;
	background-color: aliceblue;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 3px;
	height: 329px;
	margin-top: 5px;
}

.title a {
	font-size: 10px;
	text-transform: uppercase;
}

.thumbnail a>img, .thumbnail>img {
	margin-right: auto;
	margin-left: auto;
	height: 154px;
	width: 300px;
}

.thumbnail:hover .mauvang {
	opacity: 0.4;
	top: 0px;
}

.mauvang {
	background-color: yellow;
	position: absolute;
	top: 0px;
	opacity: 0;
	height: 152px;
	width: 211px;
	margin-left: 0px;
	margin-top: 10px;
	transition: all ease 0.9s;
}

.jumbotron {
	padding-right: 60px;
	padding-left: 60px;
	position: relative;
}

.jumbotron:after {
	opacity: 0.3;
	background-color: aquamarine;
}

.jumbotron.slogan {
	color: black;
	position: relative;
	z-index: 1;
}

.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: -1px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
	margin-top: 4px;
	width: 220px;
	margin-left: -11px;
}

.title {
	margin-top: 7px;
	margin-left: -9px;
}