.icon img {
	width: 72px;
}

.icon {
	height: 300px;
}

.col-md-12.text-center {
	margin-top: 55px;
}

body {
	background-color: cornsilk;
}

span.date {
	border: solid 1px;
	background-color: blanchedalmond;
	color: #E000A4;
	font-size: 12px;
	margin-left: -10px;
}

.category {
	text-transform: uppercase;
	font-size: 11px;
	margin-left: 77px;
	margin-top: -17px;
	color: black
}

.category a {
	color: brown;
	margin-left: -9px;
}

.col-md-2 {
	border: solid 1px #acb6bf;
	background-color: aliceblue;
}

p.quick-content {
	font-size: 11px;
	margin-left: -9px;
}

.title a {
	font-size: 10px;
	text-transform: uppercase;
}

.thumbnail a>img, .thumbnail>img {
	margin-right: auto;
	margin-left: auto;
	height: 154px;
	width: 300px;
}

.thumbnail:hover .mauvang {
	opacity: 0.4;
	top: 0px;
}

.mauvang {
	background-color: yellow;
	position: absolute;
	top: 0px;
	opacity: 0;
	height: 152px;
	width: 211px;
	margin-left: 0px;
	margin-top: 10px;
	transition: all ease 0.9s;
}

.jumbotron {
	padding-right: 60px;
	padding-left: 60px;
	position: relative;
}

.jumbotron:after {
	opacity: 0.3;
	background-color: aquamarine;
}

.jumbotron.slogan {
	color: black;
	position: relative;
	z-index: 1;
}

.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: -1px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
	margin-top: 4px;
	width: 220px;
	margin-left: -11px;
}

.title {
	margin-top: 7px;
	margin-left: -9px;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.container {
	margin-top: 67px;
}

.row {
	margin-left: 159px;
}

.col-md-3.ng-scope {
	width: 234px;
}

.col-md-3.ng-scope {
	width: 226px;
	background-color: white;
	margin-left: 10px;
	padding: 1px 14px 1px 14px;
	border-radius: 6px;
	height: 326px;
}

.row.center.ng-scope {
	margin-left: 260px;
	margin-bottom: 18px;
}

.left {
	width: 343px;
	background-color: white;
	height: auto;
	position: absolute;
	top: 69px;
	left: 9px;
	border-radius: 5px;
}

.content-left-title {
	font-size: 15px;
	border-bottom: solid 1px whitesmoke;
}

ul.title-group.ng-scope {
	margin-left: -21px;
}

.content-header {
	height: 301px;
	background-color: white;
	border-radius: 6px;
	width: 696px;
	margin-left: 271px;
	margin-bottom: 19px;
}

.content-header img.thumbnail {
	margin-left: 1px;
	width: 445px;
}

.content-header-right .title {
	margin-left: 457px;
	width: 230px;
	margin-top: -333px;
}

.content-header-right .title a.ng-binding {
	color: #A00707;
	font-size: 20px;
}

.sub-content.ng-binding {
	width: 100px;
	height: 100px;
	text-align: justify;
	margin-left: 458px;
}